@font-face {
  font-family: "iconfont"; /* Project id 3851187 */
  src: url('iconfont.woff2?t=1679410098663') format('woff2'),
       url('iconfont.woff?t=1679410098663') format('woff'),
       url('iconfont.ttf?t=1679410098663') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back_android:before {
  content: "\e7ed";
}

.icon-delete:before {
  content: "\e687";
}

.icon-singlecycle:before {
  content: "\e69f";
}

.icon-random:before {
  content: "\e618";
}

.icon-loop:before {
  content: "\e634";
}

.icon-pause1:before {
  content: "\e6a3";
}

.icon-iconfonticonfonti2:before {
  content: "\e62c";
}

.icon-next:before {
  content: "\e64e";
}

.icon-play-prev-1:before {
  content: "\e656";
}

.icon-pause:before {
  content: "\e7fe";
}

.icon-player-play:before {
  content: "\e614";
}

.icon-musiclist:before {
  content: "\e69c";
}

.icon-Player:before {
  content: "\e62b";
}

.icon-comments:before {
  content: "\e69b";
}

.icon-add:before {
  content: "\e767";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-more:before {
  content: "\e607";
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-music:before {
  content: "\e6fa";
}

.icon-menu:before {
  content: "\e630";
}

.icon-search:before {
  content: "\e67d";
}

